body, html {
    height: 100%;
}
h1{
    color: white;
}
h3{
    color: white;
}
span{
    color: white;
}
/* Navbar */
.navbar{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#nav-links{
    color: white;
    font-style: Roboto;
}
#nav-links:hover{
    color: gray;
}
.icon{
    fill: white;
    margin-top: 10px;
    margin-left: 15px;
}
.icon:hover{
    fill: gray;
}
.card{
    height: 350px;
    margin-top: 10px;
    background: black;
    color: gray;
    box-shadow: 2px 3px 15px black;
    transition: all .2s ease-in-out;
}
.card:hover{
    transform: scale(1.1);
}
.imgContainer{
    height: 100%;
}
/* Buttons */
.btn{
    background-color: black;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid white;
}
.btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.carousel {
    background: black;
  }
  
  .carousel-cell {
    margin-right: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 50%;
    overflow: hidden;
  }
  
  .carousel-cell img {
    display: block;
    height: 200px;
  }
  @media screen and ( min-width: 768px ) {
    .carousel-cell img {
      height: 400px;
    }
  }